/* Your CSS styles go here */
title{
    background-color: red;
}

h3{
    color: red;
    font-family: 'serif';
}


p { font: bold italic large serif }

@media (max-width:500px)
{
    img {
        text-align: center;
        margin:auto;
    }
}
@media (max-width:700px)
{
    body {
        text-align: center;
        margin:auto;
    }
}
@media (max-width:500px)
{
    table {
        text-align: center;
        margin:auto;
    }
}

